<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.page_title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- 6paster, 2011. See http://p.6core.net/about.html for info and download -->
    <style type="text/css">
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11pt;
            background-color: #dedede;
            margin-top: 40px;
        }

        textarea {
            border: 1px solid #000000;
            font-family: "Courier New", "Courier", monospace;
        }

        input {
            margin-top: 10px;
        }

        div#content {
            width: 600px;
            margin: auto;
        }

        div#footer {
            width: 600px;
            margin: auto;
            font-size: 10px;
            color: #555555;
        }

        div.text {
            margin-top: 20px;
            padding: 3px;
            background-color: #eeeeee;
            font-size: 10px;
            color: #222222;
        }

        h1 {
            font-size: 16px;
            font-weight: bold;
        }

        h2 {
            font-size: 14px;
            color: #555555;
            font-weight: bold;
        }
    </style>
</head>
<body onload="document.postform.content.focus();">
    <div id="content">
        <p class="error">@ViewBag.errmsg</p>
    </div>
    <br />
    <div id="footer">
        <hr />
        This is Paster.NET a <a href="https://p.6core.net/about.html">6paster</a> clone.
        <p>
            The text you paste here will be reachable by a unique URL that is long enough to prevent brute-forcing. Also, these identifiers are randomly chosen. You post will remain on the server for at most 30 days.
        </p>
        <p>
            @ViewBag.server_name and the author are not responsible for any content that is pasted here, nor the confidentiality of your data. Reliability of this service is not a right.
        </p>
    </div>
</body>
</html>
